body{
    margin:0;
    padding: 0;
    background-color:rgb(245, 245, 245);
}

body::-webkit-scrollbar{
    width: 7px;
    background: rgb(255, 255, 255);
}

body::-webkit-scrollbar-thumb{
    background: #ff4d4d;
    border-radius: 12px;
}

.wpp{
  position: fixed;
  width: 100px;
  top: 355px;
  left: 15px;
  cursor: pointer;
  z-index: 999999999;
}

/*/////////////////////-HOME start-///////////////////////*/



#home{
    width: 100%;
    height: 100%;
  /*  background: #63b6db ; /* Old browsers */
  /*  background: -moz-linear-gradient(top,  #63b6db 0%, #309dcf 89%); /* FF3.6-15 */
  /*  background: -webkit-linear-gradient(top,  #63b6db 0%,#309dcf 89%); /* Chrome10-25,Safari5.1-6 */
  /*  background: linear-gradient(to bottom,  #63b6db 0%,#309dcf 89%),url("fondo.svg"); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /*  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63b6db', endColorstr='#309dcf',GradientType=0 ); /* IE6-9 */
  background-color: #227faa;
  background-image: url('fondo.svg'); 
  background-size:100%; 
}

#headerr{
  /*  background-color: blueviolet;*/
 width: 98%;
 padding-left: 15px;
 padding-top: 15px;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr 4fr 2fr;
 grid-template-rows: minmax(50px, auto) ;
}

#headerr div{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: white;
    font-family: 'Nanum Gothic', sans-serif;
}

.instagramAlign{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.igLogo{
  width: 50px;
}

.eShopHeader{
    color: #d60000;
}

.logoMeki{
width: 140px;
}

.link{
    cursor: pointer;
}

#mercadopagoHome{
  /*  background-color: #d60000;*/
    width: 100%;
    height: 400px;
    display: grid;
    opacity: 0.75;
 grid-template-columns: 1fr ;
 grid-template-rows: minmax(50px, auto) ;
}

.alignLogoMP{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mercadopagoLogo{
    width: 700px;
}

#dudaCuotaCamion{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(50px, auto) ;
}

#dudaCuotaCamion div{
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 0.2px;
    font-family: 'Nanum Gothic', sans-serif;
    box-shadow: inset 0 0 8em rgba(179, 179, 179, 0.651);
    }

.duda img{
width: 250px;
}

.tarjet img{
width: 70px;
}

.truck img{
    width: 90px;
}

.redFontcolor{
  color: #ff4d4d;
}

/*/////////////////////-HOME end-///////////////////////*/

.articulosMasVendidos{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(50px, auto) ;
}

.articulosMasVendidos div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tituloMoreSels{
    text-align: center;
    color: #d60000;
    font-size: 25px;
    font-family: 'Nanum Gothic', sans-serif;
}

/*****************CARD************************/



.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .flex-centerY-centerX {
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  
  
  .page-wrapper {
    height: 100%;
    display: table;
  }
  
  .page-wrapper .page-inner {
    display: table-cell;
    vertical-align: middle;
  }
  
  .el-wrapper {
    width: 360px;
    padding: 15px;
    margin: 15px auto;
    background-color: #fff;
  }
  
  @media (max-width: 991px) {
    .el-wrapper {
      width: 345px;
    }
  }
  
  @media (max-width: 767px) {
    .el-wrapper {
      width: 290px;
      margin: 30px auto;
    }
  }
  
  .el-wrapper:hover .h-bg {
    left: 0px;
  }
  
  .el-wrapper:hover .price {
    left: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #818181;
  }
  
  .el-wrapper:hover .add-to-cart {
    left: 50%;
  }
  
  .el-wrapper:hover .img {
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(0px);
    filter: progid:DXImageTransform.Microsoft.Blur(pixelradius='7', shadowopacity='0.0');
    opacity: 0.85;
  }
  
  .el-wrapper:hover .info-inner {
    bottom: 155px;
  }
  
  .el-wrapper:hover .a-size {
    -webkit-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
    bottom: 50px;
    opacity: 1;
  }
  
  .el-wrapper .box-down {
    width: 100%;
    height: 60px;
    position: relative;
    overflow: hidden;
  }
  
  .el-wrapper .box-up {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
    text-align: center;
  }
  
  .el-wrapper .img {
    padding: 20px 0;
    -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
  }
  
  .h-bg {
    -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    width: 660px;
    height: 100%;
    background-color: #3f96cd;
    position: absolute;
    left: -659px;
  }
  
  .h-bg .h-bg-inner {
    width: 50%;
    height: 100%;
    background-color: #464646;
  }
  
  .info-inner {
    -webkit-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    position: absolute;
    width: 100%;
    bottom: 25px;
  }

  .p-name{
      padding-right: 120px;
  }
  
  .info-inner .p-name,
  .info-inner .p-company {
    display: block;
  }
  
  .info-inner .p-name {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    color: #252525;
  }
  
  .info-inner .p-company {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #8c8c8c;
  }
  
  .a-size {
    -webkit-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    position: absolute;
    width: 100%;
    bottom: -20px;
    font-family: 'PT Sans', sans-serif;
    color: #828282;
    opacity: 0;
  }
  
  .a-size .size {
    color: #252525;
  }
  
  .cart {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
  }
  
  .cart .price {
    -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: #252525;
  }
  
  .cart .add-to-cart {
    -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
    display: block;
    position: absolute;
    top: 50%;
    left: 110%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .cart .add-to-cart .txt {
    font-size: 12px;
    color: #fff;
    letter-spacing: 0.045em;
    text-transform: uppercase;
    white-space: nowrap;
  }
  
  .img2MoreSold{
      width: 120px;
  }

/*****************CARD-END**********************/

/********************DROP-DOWN********************/

.dropdownd {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdownd .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbard a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 65px;
  background-color: #f9f9f9;
  min-width: 160px;
  cursor: pointer;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */

/* Navbar container */
.navbard {
  overflow: hidden;
  background-color: #1d6a8d;
  font-family: Arial;

  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: minmax(50px, auto) ;

}

/* Links inside the navbar */
.navbard a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdownd {
  float: left;
  overflow: hidden;
  display: flex;
    align-items: center;
    justify-content: center;
}

/* Dropdown button */
.dropdownd .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbard a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdownd:hover .dropdown-content {
  display: block;
}





/*****************************DROPDOWN****************************/

/********************ARTICULOS*****************/

#articulos{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: minmax(50px, auto) ;

}

.columna{

  display: flex;
    align-items: center;
    justify-content: center;

}

.imgArticles{
  width:300px;
}

.navegador{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(50px, auto) ;
}

/* Pagination links */

.pagination{
  display: flex;
  align-items: center;
  justify-content: center;
}


.pagination a {
  color: black;
  float: left;
  cursor: pointer;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;}

/********************ARTICULOS-END*****************/


/*//////////////////// CONTACT-START ///////////////////////*/

#bottomContacto{
  width: 100%;
  background-color: white;
}

#mapTemplate{
  position: relative;
  width: 100%; 
  height:250px;
}

#contactoSize{
  width: 80%;
  margin: 0 auto;
  
}

.titleContact{
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
}

#formuario{
  display: grid;
  
   margin-left: 15px;
  border-style: solid;
  border-color: black; 
 border-width: 1px;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(4,auto);
  grid-template-areas: "input1"
                       "input2"
                       "input3"
                       "btn";
}

.input1{
  grid-area: input1;

}
.input2{
  grid-area: input2;
 
}
.input3{
  grid-area: input3;

}
.btnSend{
  grid-area: btn;
  display: grid;
  width: 100%;
 border-width: 1px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4,auto);
}

.imgAlign{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.btnAlign{
  
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btn{
  width: 150px;
}


.direccionSvg{
  width: 200px;
}



/*//////////////////// CONTACT-END ///////////////////////*/



/*************************************************/
.footer{
  margin-top: 15px;
  color: white;
  background-color: black;
  text-align: center;
}


/***************MEDIAQUERYS@start*******************/


@media (max-width: 846px) {

  #instagramHeader{
      display: none;
  }

#contactNone{
  display: none;
}

.mercadopagoLogo{
  width: 300px;
}

  #header{
      width: 98%;
     padding-left: 15px;
      padding-top: 15px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr ;
      grid-template-rows: minmax(50px, auto) ;
  }

  #dudaCuotaCamion{
   display: none;
}

.articulosMasVendidos{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(50px, auto) ;
}

#articulos{
  display: grid;
  grid-template-columns: 1fr  ;
  grid-template-rows: minmax(50px, auto) ;

}

.direccionSvg{
  width: 130px;
}

.footer{
  font-size: 10px;
}

.imgModalProducto{
  width: 100px;
}

.instagramAlign{
  padding-top: 25px;
font-size: 19px;
}

.btn{
  width: 90px;
}

}

/***************MEDIAQUERYS@end*******************/

/***************PRODUCTO SELECCIONADO MODAL***************/

#contenidoSeleccionado{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.966);
  z-index: 99999999999999;
 padding: 15px;
 overflow: scroll;
}



.modalPrimerDivision{
  display: grid;
      grid-template-columns: 1fr 1fr  ;
      grid-template-rows: minmax(50px, auto) ;
}

.imagenModal{
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.infoModal{
  display: grid;
  grid-template-columns: 1fr  ;
  grid-template-rows: minmax(50px, auto) ;
}

.subDivisionModal{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: minmax(50px, auto) ;
}

.dropdown{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.tarjetModal{
  width: 50px;
}

.descripcion{
  text-align: center;
}

/***************PRODUCTO SELECCIONADO MODAL***************/